#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.a{
  color:bisque
}
.b{
  color:rgb(171, 119, 138)
}
.c{
  color:rgb(205, 228, 120)
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.full-input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 16px;
}

.input-group {
  display: flex;
  align-items: stretch;
  margin: 12px 0;
}

.input-group input {
  flex: 1;
  padding: 12px;
  border: 1px solid #999;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.input-group select {
  width: 80px;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  cursor: pointer;
  background: white;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2e59d9;
}

.result-image {
  width: 200px;
  margin: 20px 0;
}
